@namespace Authentication.Client.Library.Components
@inherits ListViewComponentBase<User>

<MudBreadcrumbs Items="_items"></MudBreadcrumbs>

<UILoader State="_state">
    <div class="d-flex ml-2">
        @if (ViewModel is not null && !ViewModel.HasItems)
        {
            <p>Nincs esemény az adatbázisban!</p>
        }
        else if (ViewModel is not null && ViewModel.HasItems)
        {
            <MudTable Items="@ViewModel.Items"
                      T="User"
                      ref="table"
                      Dense="true"
                      Hover="true"
                      Breakpoint="Breakpoint.Sm"
                      Loading="@_loading"
                      LoadingProgressColor="Color.Info">
                <ToolBarContent>
                    <MudSpacer />
                    <MudTextField T="string" Placeholder="Keresés..." Adornment="Adornment.Start" Adornment.Icon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Vezetéknév</MudTh>
                    <MudTh>Keresztnév</MudTh>
                    <MudTh>Email</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Vezetéknév">@context.LastName</MudTd>
                        <MudTd DataLabel="Keresztnév">@context.FirstName</MudTd>
                        <MudTd DataLabel="Email">@context.Email</MudTd>
                        <MudIconButton Icon="@Icons.Material.Filled.Preview" Color="Color.Success"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
                    </RowTemplate>
                </MudTable>
        }
    </div>
</UILoader>

@code {
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Felhasználók", href: null, disabled: true, icon: Icons.Material.Filled.TableView)
    };
}
