@namespace Authentication.Client.Library.Components

@inherits MvvmComponentBase<RegistrationViewModel>

<div class="d-flex justify-content-center">
    <MudChip Class="pt-2" Color="Color.Primary">
        <h3>Regisztráció</h3>
    </MudChip>
</div>

<div class="d-flex justify-content-center">
    <MudCard Width="500px">
        @if (ViewModel is null)
        {
            <MudChip Class="pt-2 d-flex justify-content-center" Color="Color.Error">
                <p>A regisztráció nem lehetséges!</p>
            </MudChip>
        }
        else
        {
            if (_validation is not null)
            {
                <MudForm Model="ViewModel" @ref="_form" Validation="_validation.ValidateValue">
                    <MudCardContent>
                        @if (ErrorString.HasError)
                        {
                            <MudChip class="pt-2 d-flex justify-content-center" Color="Color.Error">
                                <p>@ErrorString.Error</p>
                            </MudChip>
                        }
                        <MudTextField @bind-Value="ViewModel.UserRegistrationDto.LastName"
                                      For="@( () => ViewModel.UserRegistrationDto.LastName)"
                                      Immediate=true
                                      Required="true"
                                      RequiredError="A vezetéknév szükséges!"
                                      Label="Vezetéknév" />
                        <MudTextField @bind-Value="ViewModel.UserRegistrationDto.FirstName"
                                      For="@( () => ViewModel.UserRegistrationDto.FirstName)"
                                      Immediate=true
                                      Required="true"
                                      RequiredError="A keresztnév szükséges!"
                                      Label="Keresztnév" />
                        <MudTextField @bind-Value="ViewModel.UserRegistrationDto.Email"
                                      For="@( () => ViewModel.UserRegistrationDto.Email)"
                                      Immediate=true
                                      Required="true"
                                      RequiredError="Az email cím szükséges!"
                                      InputType="InputType.Email"
                                      Label="Email" />
                        <MudTextField @bind-Value="ViewModel.UserRegistrationDto.Password"
                                      For="@( () => ViewModel.UserRegistrationDto.Password)"
                                      Immediate=true
                                      Label="Jelszó"
                                      Required="true"
                                      InputType="InputType.Password"
                                      RequiredError="A jelszó szükséges!" />
                        
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Class="ml-auto"
                                   OnClick="RegisterAsync">
                            Regisztráció
                        </MudButton>
                    </MudCardActions>
                </MudForm>
            }
        }
    </MudCard>
</div>